{%extends 'base.html'%}

{% load bootstrap4 %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row p-4">
        {% for photo in photos %}

        <div class="col-md-4 "> 
            <a href="" data-toggle="modal" data-target="#exampleModal{{ photo.id }}">
            <img src="{{photo.image.url}}" alt="" style="height: 320px; width: 100%; padding: 1%;"></a>
        </div>

        <div class="modal fade" id="exampleModal{{ photo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" style="color: red ; font-size:50px; font-weight:900"
                            data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="">
                                <img src="{{photo.image.url}}" class="img-thumbnail" alt="{{photo.name}}">
                                <h2 class="desc">{{photo.name}}</h2>
                                <h4>{{photo.description}}</h4>
                                <h4>Location: {{photo.location}}</h4>
                                <h4>Category: {{photo.category}}</h4>
                                <h4>Posted on: {{photo.time_posted}}</h4>
                                Photo Url:<input type="text" value="{{photo.image.url}}"class="btn btn-success form-control photoUrl">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% empty %}
        <div class="row">
            <h2 class="text-center" style="color: rgb(210, 30, 54)">No Images</h2>
        </div>
    </div>
    {% endfor%}
</div>


{% endblock %}